.hj-communication-setting-wrapper {
  // padding:  1vw;
  .hj-communication-setting__header {
    padding: 2vh 0;
  }
  .el-tree-node__content {
    height: 42px;
  }
  .el-form {
    .el-select {
      width: 100%;
    }
    .el-cascader--medium {
      width: 100%;
    }
  }

  .hj-custom-tree-node {
    // display: flex;
    // justify-content: space-between;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hj-communication-setting__content {
    // display: flex;
    // justify-content: space-between;
    .el-form-item__label {
      color: #313131;
    }
  }

  .hj-communication-setting__emptyData {
    text-align: center;
    color: #808080;
  }
  .hj-communication-setting__content__left {
    // padding-right: 20px;
  }
  .hj-communication-setting__content__right {
    padding: 0 20px;
  }

  .hj-device-params-setting-panel {
    padding: 1vh 0.5vw;
    background-color: #f7f7f7;
    border-radius: 5px;
    fieldset {
      border-color: #f7f7f7;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
    }

    legend {
      color: grey;
    }
    .panel__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vh 0;
    }
    // .panel__header__left {
    //   span {

    //   }
    // }
    .panel__header__left__tips {
      // font-style: italic;
      color: red;
    }

    .panel__basic {
      padding: 1vh 0;
      margin: 0 auto;
    }
    .panel__item--fr {
      float: right;
    }
    .el-input {
      min-width: 250px;
    }
  }

  .hj-communication-setting__content__form {
    max-width: 800px;
    padding: 0 25px;
    // margin: 0 auto;
  }

  .device-params-form {
    display: flex;
    justify-content: space-between;
  }
  .hj-device-form-wrapper {
    // min-width: 500px;
    // max-width: 800px;
    .el-cascader {
      width: 100%;
    }
  }
}
