.hj-social-unit-device-list-wrapper {
  background: #f7f7f7;
  padding: 1vh 1vw;
  border-radius: 8px;
  height: 100%;
  .hj-social-unit-device-list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hj-social-unit-device-list-head__item {
      display: flex;
      align-items: center;
    }
    .hj-social-unit-device-list-head__addStation {
      display: flex;
      justify-content: flex-end;
    }
  }
  .hj-social-unit-device-list-body {
    margin: 2vh 0;
  }

  .hj-social-unit-device-list__pagination {
    padding: 1vh 1vw;
    display: flex;
    justify-content: flex-end;
    .el-pagination__total,
    .el-pagination__jump {
      color: #313131;
    }
  }
}
