@charset "utf-8";

// @import "./user-group-tree/index.less";
@import "./maintenance-staff-tab/index.less";
@import "./social-unit-tab/index.less";
@import "./maintenance-staff-base-property-page.less";

// @import "./bind-user/index.less";
// @import "./config-station-for-user/index.less";

.hj-maintenace-staff-wrapper {
  .el-button {
    padding: 5px;
  }

  background-image: linear-gradient(#324157, #9399a4);
  padding-left: 15px;
  padding-right: 15px;

  .hj-maintenace-staff-user-group-tree {
    overflow: auto;
    display: flex;
    align-items: stretch;
    background-image: linear-gradient(#324157, #9399a4);
  }

  .user-station-content {
    padding-top: 15px;
    background-image: linear-gradient(#f9f9f9, #f9f9f9);
  }

  .hj-maintenace-staff-content {
    max-width: 100%;
    min-height: 88.5vh;
    margin-right: 0px;
  }
}

// .el-message-box {
//   // width: 700px !important;
//   width: auto;
// }
