// @import "./work-order-table.less";
// 弹窗形式 样式引入无效 弹窗部分不再app下
// @import "./work-order-details/index.less";

.hj-work-order-management-wrapper {
  background: #ffffff;
  padding: 1vh 1vw;
  border-radius: 8px;

}
